html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #888;
  font-size: 0.9rem;
}
body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  width: 100%;
  justify-content: center;
}

#root > div {
  width: 98%;
  max-width: 60rem;
  min-width: 533px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1 0 auto; */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 2rem;
  font-size: .75em;
}

.top-menu {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 3rem 0 2rem;
  justify-content: space-around;
}

.menu li {
  display: flex;
  padding: 0 1rem;
}

.logo {
  font-family: 'Old Standard TT', serif;
  font-size: 2.25em;
  color: #212121;
  padding-top: 3rem;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #000;
}

.visualizer {
  width: 30rem;
  height: 30rem;
}

.visualizer img {
  width: 100%;
  height: 100%;
}

.playlist {
  padding: 4.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.playlist ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: solid .05rem #e0e0e0;
}

.pl-item {
  display: flex;
  width: 100%;
  height: 2rem;
  border-bottom: solid .05rem #e0e0e0;
  align-items: center;
}

.pl-item.active {
  background-color: #f0f0f0;
}

.pl-item .pl-icon {
  fill: #888;
  width: 1.75rem;
  height: 1.75rem;
}

.pl-item .pl-icon.speaker {
  display: none;
}

.pl-item.active .pl-icon.speaker {
  display: block;
}

.pl-item .pl-icon.play {
  cursor: pointer;
}

.pl-item.active .pl-icon.play {
  display: none;
}

.song-name {
  display: inline-block;
  width: 100%;
  padding: 0 .75rem 0 .75rem;
  cursor: pointer;
}

.lenght {
  color: #888;
  padding: 0 .75rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 5rem 0;
  align-items:center;
  width: 55rem;
}

.feedback label {
  display: block;
  padding-bottom: 1rem;
}

.feedback h2 {
  display: block;
  padding-bottom: 3rem;
  text-align: center;
}

.fb-label {
  padding-bottom: .3rem;
  color: #3f51b5;
}

.fb-email, .fb-message, .fb-submit {
  display: block;
  width: 35rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  color: #212121;
  text-align: center;
  font-family: 'Lato', sans-serif;
  border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  border: .0935rem solid #3f51b5;
}

.fb-submit {
  background-color: #3f51b5;
  color: #fff;
  border: none;
}

.fb-submit:hover {
  background-color: #673ab7;
}

.fb-submit:active {
  background-color: #3f51b5;
}

.fb-message {
  min-height: 10rem;
}

.about, .donate {
  display: flex;
  width: 100%;
  height: 32rem;
  align-items: center;
  justify-content: center;
}

/* On screens that are 1000px or less */
@media screen and (max-width: 1000px) {
  body {
    font-size: 2em;
  }
  .pl-item {
    height: 5rem;
    font-size: 2.5rem;
  }
  .pl-item .pl-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .feedback, .feedback label {
    padding-top: 3rem;
    width: 100%;
  }
  .fb-email, .fb-message, .fb-submit {
    width: 100%;
  }

}

/* On screens that are 600px or less */
/* @media screen and (max-width: 600px) {

} */
